body {
	background: url("http://photos.imageevent.com/afap/wallpapers/movies/theempirestrikesback/Dagobah%20-%20McQuarrie%20-%20Art.jpg");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: auto;
	background-color: #000;
}

.sw-font {
	font-family: STARWARS;
}

.spaced-out {
	letter-spacing: 2px;
}

.spaced-out-more {
	letter-spacing: 4px;
}

.wrapper {
	width: 100%;
	padding: 20px;
}

h1 {
	color: yellow;
	font-size: 60px;
	text-align: center;

}

.button {
	margin-top: 10px;
	font-size: 20px;
	padding: 5px 5px 2px 10px;
	background: #444;
	color: yellow;
}

.button:hover {
	cursor: pointer;
	background: #555;
}

.main-content {
	background: rgba(0, 0, 0, 0.5);
	position: relative;
	top: 30px;
	left: 25%;
	font-size: 20px;
	color: yellow;
	text-align: center;
	padding: 20px;
	width: 50%;
	height: 500px;
	background: url("https://i.pinimg.com/736x/ae/a9/6d/aea96d3bbb9a7b1533fa6e6eec9e3e42--star-wars-decorations.jpg");
	background-size: auto 540px;
	box-shadow: 0px 0px 80px 40px green;
}

.time-div {
	margin-top: 30px;
}

.time-left {
	font-size: 30px;
	padding: 5px 7px 2px 10px;
	background: rgba(0, 0, 0, 0.4);
}

.question-div {
	text-align: left;
	margin: 20px;
}

.question-content {
	/*text-align: left;*/
	padding: 5px 7px 2px 10px;
	background: rgba(0, 0, 0, 0.4);
}

#answer-content {
	margin: 0px 40px 30px 40px;
	text-align: left;
	/*padding: 0px 20px 0px 20px;*/
}

.clickable:hover {
	cursor: pointer;
	background: rgba(150, 150, 150, 0.5);
}

#a, #b, #c, #d {
	padding: 5px 5px 2px 7px;
}

.answer{
	background: rgba(0, 0, 0, 0.4);
}

.answer-div {
	margin-bottom: 10px;
}

.pic {
	margin-bottom: 10px;
}

img {
	max-width: 300px;
	width: 75%;
	max-height: 180px;
	text-align: center;
}

.message-div {
	text-align: left;
	margin: 0px 0px 0px 20px;
}

.message-1, .message-2 {
	padding: 5px 5px 2px 7px;
	background: rgba(0, 0, 0, 0.4);
}